<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="chat">
    <section class="sidebar">
        <div class="user-info"><h1 align="center">hello</h1></div>
        <div class="users">
            <div class="chats">
                <div class="menu-container"> Chat1</div>
                <div class="menu-container"> Chat2</div>
                <div class="menu-container"> Chat3</div>
                <div class="menu-container"> Chat4</div>

            </div>

            <div class="search">
                <input id='find' type="text" size="30">
            </div>

        </div>
    </section>

    <section class="main">
        <div class="online-user-list">
            <div class="header">
                <h1 align="center"> User </h1>
            </div>

            <div align="right">
                <!--            <button id='button2' onclick=''> 11 </button>-->
                <button id='button2' onclick=''> 22</button>
            </div>
        </div>
        <div class="message-list" id="text">
            <div id="textarea" style="margin-left: 35px; font-size:150%;"></div>
        </div>
        <div class="message-form">
            <input id='input' type="text" size="60">
            <button id='send'>>></button>

        </div>
    </section>
</div>

<script src="./renderer.js"></script>

</body>
</html>
